openapi: 3.0.3
info:
  title: NREL Developer Network APIs Alt Fuel Stations API
  description: Selected endpoints from the National Renewable Energy Laboratory (NREL) developer network covering alternative fuel stations, solar resource and PV modeling, and utility electricity rate lookups. All endpoints require a developer API key.
  version: 1.0.0
  contact:
    name: NREL Developer Network
    url: https://developer.nrel.gov/
servers:
- url: https://developer.nrel.gov/api
  description: Production
security:
- apiKeyQuery: []
tags:
- name: Alt Fuel Stations
paths:
  /alt-fuel-stations/v1.json:
    get:
      summary: Search alternative fuel stations
      description: Retrieve alternative fuel station records with filters for fuel type, state, location, and access.
      parameters:
      - name: fuel_type
        in: query
        schema:
          type: string
        description: Comma-separated list (e.g., ELEC,LPG,CNG).
      - name: state
        in: query
        schema:
          type: string
      - name: zip
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - E
          - P
          - T
          - all
      - name: access
        in: query
        schema:
          type: string
          enum:
          - public
          - private
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Alternative fuel station records.
      tags:
      - Alt Fuel Stations
  /alt-fuel-stations/v1/nearest.json:
    get:
      summary: Find nearest alternative fuel stations
      parameters:
      - name: location
        in: query
        schema:
          type: string
        description: Address or place name.
      - name: latitude
        in: query
        schema:
          type: number
          format: float
      - name: longitude
        in: query
        schema:
          type: number
          format: float
      - name: radius
        in: query
        schema:
          type: number
        description: Search radius in miles.
      - name: fuel_type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Nearest stations within the radius.
      tags:
      - Alt Fuel Stations
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
